@import './variable';

html, body {
  margin: 0;
  height: 100%;
}

body {
  background: url('../images/dummy_bg.jpg') no-repeat;
  background-size: cover;
}

h1 {
  display: flex;
  align-self: center;
  margin-left: 10px;
  font-size: 15px;
  color: $black;

  &::before {
    content: '';
    display: block;
    margin-right: 5px;
    background: url('../images/dummy.png') no-repeat;
    background-size: 100%;
    width: 18px;
    height: 18px;
  }
}